.advice{
    &-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin: 0;
        background-color: hsl(218, 23%, 16%)
    }

    &-divider {
        display: block;
    }

    &-card {
        max-width: 444px;
        min-width: 200px;
        text-align: center;
        padding: 1rem;
        background-color: hsl(217, 19%, 24%);
        border-radius: 10px
    }

    &-section {
        color: #fff; 
        margin: 0 0 1rem 0; 
        font-size: 28px;   
    }

    &-header {
        color: hsl(150, 100%, 66%);
        font-size: 12px
    }
}